<div class="collapse top-search" id="collapseExample">
    <div class="card card-block">
        <div class="newsletter-widget text-center">
            <form asp-controller="News" asp-action="Search" method="get" class="form-inline">
                <input type="text" name="filterTitle" class="form-control" placeholder="News Title">
            </form>
        </div><!-- end newsletter -->
    </div>
</div><!-- end top-search -->

<div class="topbar-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 hidden-xs-down">
                <div class="topsocial">
                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Telegram"><i class="fa fa-telegram"></i></a>
                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Whatsapp"><i class="fa fa-whatsapp"></i></a>
                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>
                </div><!-- end social -->
            </div><!-- end col -->

            <div class="col-lg-4 hidden-md-down">
                <div class="topmenu text-center">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-user-circle-o"></i><a href="/NewsPanel/index">@User.Identity.Name</a></li>|
                            <li class="list-inline-item"><a asp-action="Logout" asp-controller="Account">Log Out</a></li>
                        </ul>
                    }
                    else
                    {
                        <ul class="list-inline">
                            <li class="list-inline-item"><a asp-action="Register" asp-controller="Account">Sign Up</a></li>|
                            <li class="list-inline-item"><a asp-action="Login" asp-controller="Account">Sign In</a></li>
                        </ul>
                    }
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="topsearch text-right">
                    <a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-search"></i> Search</a>
                </div><!-- end search -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end header-logo -->
</div><!-- end topbar -->